<section class="content">

<!-- Small boxes (Stat box) -->
        <div class="box box-success" id="chat-box" ng-if="cur_room_name!=''">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-comments-o"></i> {{cur_room_name}}</h3>
                <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
                    <div class="btn-group" data-toggle="btn-toggle" >
                        <button type="button" class="btn btn-default btn-sm active"><i class="fa fa-square text-green"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-square text-red"></i></button>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div id="Top" style="height: 60%;" class="chat">
                    <div class="item"  ng-repeat="msg in cur_room_message">
                        <img ng-src="{{msg.image_url}}" alt="user image" class="online"/>
                        <div class="message">
                            <a href="" class="name">
                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i>{{msg.time}}</small>
                                {{msg.name}}
                            </a>
                            <span class="pull-left bubble" ng-if="msg.message.type=='msg'">{{msg.message.content}}</span>
                            <div class="attachment bubble" ng-if="msg.message.type=='file'">
                                <img ng-src="./images/avatar.png" class="pull-left" alt="User Image"/>
                                <h5>
                                    <div class="pull-left file-name">{{msg.message.name}}</div>
                                    <span  class="pull-right"> {{msg.message.size}}</span>
                                </h5>
                                <div class="progress xs" ng-if="msg.message.progress<100">
                                     <div class="progress-bar progress-bar-aqua" style="width: {{msg.message.progress}}%" role="progressbar" aria-valuenow="{{msg.message.progress}}" aria-valuemin="0" aria-valuemax="100">
                                         <span class="sr-only">{{msg.message.progress}}% Complete</span>
                                     </div>
                                </div>
                                <h5 ng-if="msg.message.progress==100">
                                    <span>上传完成</span>
                                    <i class="fa fa-folder-open"></i>
                                    <i class="fa fa-download"></i>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="SliderHorizontal">
                    <i class="fa fa-smile-o" ></i>
                    <i class="fa fa-picture-o"></i>
                    <i class="fa fa-cloud-upload"   ngf-select ngf-multiple="true" ngf-change="send_file($files)"></i>
                </div>
                <div id="Bottom" style="height:40%">
                    <div style="height:100%">
                        <textarea ng-model="$parent.message" class="textarea" placeholder="Message" style="width: 100%; height: 100%; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                    </div>
                </div><!-- /.chat -->
            </div>
            <!-- ng-if="cur_room_name!=''"-->
            <div class="box-footer">
                <div class="input-group-btn">
                    <button class="pull-right btn btn-primary"   ng-click="send_message(cur_room_id,message)">发送 <i class="fa fa-arrow-circle-right"></i></button>
                </div>
            </div>
        </div><!-- /.box (chat box) -->

</section><!-- /.content -->