<section class="content">

<!-- Small boxes (Stat box) -->
        <div class="box box-success">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-comments-o"></i> {{cur_room_name}}</h3>
                <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
                    <div class="btn-group" data-toggle="btn-toggle" >
                        <button type="button" class="btn btn-default btn-sm active"><i class="fa fa-square text-green"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-square text-red"></i></button>
                    </div>
                </div>
            </div>
            <div class="box-body chat" id="chat-box">
                    <!-- chat item -->
                    <div class="item"  ng-repeat="msg in cur_room_message">
                        <img ng-src="{{msg.image_url}}" alt="user image" class="online"/>
                        <p class="message">
                            <a href="" class="name">
                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i>{{msg.time}}</small>
                                {{msg.name}}
                            </a>
                            {{msg.message}}
                        </p>
                    </div><!-- /.item -->
                </div><!-- /.chat -->

            <div class="box-footer" ng-if="cur_room_name!=''">
                <div class="input-group">
                    <input class="form-control" placeholder="Type message..."  ng-model="$parent.message"/>
                    <div class="input-group-btn">
                        <button class="btn btn-success"  ng-click="send_message(cur_room_id,message)"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div><!-- /.box (chat box) -->

</section><!-- /.content -->