<!DOCTYPE html>
<html ng-app="phonecatApp">
    <head>
        <meta charset="UTF-8">
        <title>iRocket | Dashboard</title>
        <!-- bootstrap 3.0.2 -->
        <link href="stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="stylesheets/non-responsive.css" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="stylesheets/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- Morris chart -->
        <link href="stylesheets/morris/morris.css" rel="stylesheet" type="text/css" />
        <!-- jvectormap -->
        <link href="stylesheets/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        <!-- fullCalendar -->
        <link href="stylesheets/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
        <!-- Daterange picker -->
        <link href="stylesheets/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
        <!-- bootstrap wysihtml5 - text editor -->
        <link href="stylesheets/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="stylesheets/jQueryUI/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css" />
        <link href="stylesheets/AdminLTE.css" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="bower_components/ng-file-upload-4.2.4/dist/ng-file-upload.min.js"></script>
        <script src="javascripts/websocket/socket.io.js"></script>
        <script src="javascripts/ckeditor/ckeditor.js"></script>
        <script src="javascripts/iRocket/jsplit-v.js"></script>
        <script src="javascripts/iRocket/jsplit.js"></script>
        <script src="javascripts/angular/app.js"></script>
        <script src="javascripts/angular/controllers.js"></script>
        <script src="javascripts/angular/filters.js"></script>
        <script src="javascripts/angular/directives.js"></script>
        <script src="javascripts/angular/services.js"></script>
    </head>
    <body class="skin-blue fixed" ui-view>

    </body>
</html>