<% include ./header.ejs %>
<div id="main-container" class="container" style="float: left;overflow: hidden;">
    <div id="left">
        <% include ./sidebar.ejs %>
    </div>
    <div id="center">
        <% include ./chat.ejs %>
    </div>
    <div id="right">
        <% include ./content.ejs %>
    </div>
    <script src="javascripts/iRocket/test.js"></script>
</div>