<section class="sidebar" style="overflow: auto;">
    <!-- Sidebar user panel -->
    <!-- search form -->
    <div class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search..." ng-model="query"/>
            <span class="input-group-btn">
                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
    <tabset>
        <tab heading="chat">
            <tab-heading>
                <i class="fa fa-comments-o">会话</i>
            </tab-heading>
            <div class="tab-pane fade in active" id="home">
                <div class="chat">
                    <!-- chat item -->
                    <div class="item">
                        <img src="images/avatar.png" alt="user image" class="online"/>
                        <p class="message">
                            <a href="#" class="name">
                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small>
                                Mike Doe
                            </a>
                            I would like to meet you to discuss the latest news about
                            the arrival of the new theme. They say it is going to be one the
                            best themes on the market
                        </p>
                        <div class="attachment">
                            <h4>Attachments:</h4>
                            <p class="filename">
                                Theme-thumbnail-image.jpg
                            </p>
                            <div class="pull-right">
                                <button class="btn btn-primary btn-sm btn-flat">Open</button>
                            </div>
                        </div><!-- /.attachment -->
                    </div><!-- /.item -->
                    <!-- chat item -->
                    <div class="item">
                        <img src="images/avatar2.png" alt="user image" class="offline"/>
                        <p class="message">
                            <a href="#" class="name">
                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:15</small>
                                Jane Doe
                            </a>
                            I would like to meet you to discuss the latest news about
                            the arrival of the new theme. They say it is going to be one the
                            best themes on the market
                        </p>
                    </div><!-- /.item -->
                    <!-- chat item -->
                    <div class="item">
                        <img src="images/avatar3.png" alt="user image" class="offline"/>
                        <p class="message">
                            <a href="#" class="name">
                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:30</small>
                                Susan Doe
                            </a>
                            I would like to meet you to discuss the latest news about
                            the arrival of the new theme. They say it is going to be one the
                            best themes on the market
                        </p>
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="images/avatar3.png" alt="user image" class="offline"/>
                        <p class="message">
                            <a href="#" class="name">
                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:30</small>
                                Susan Doe
                            </a>
                            I would like to meet you to discuss the latest news about
                            the arrival of the new theme. They say it is going to be one the
                            best themes on the market
                        </p>
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="images/avatar3.png" alt="user image" class="offline"/>
                        <p class="message">
                            <a href="#" class="name">
                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:30</small>
                                李宁
                            </a>
                            I would like to meet you to discuss the latest news about
                            the arrival of the new theme. They say it is going to be one the
                            best themes on the market，哈哈
                        </p>
                    </div><!-- /.item -->
                </div><!-- /.chat -->
            </div>
        </tab>
        <tab heading="user">
            <tab-heading>
                <i class="fa fa-user">好友</i>
            </tab-heading>
            <div class="tab-pane fade in active" id="home">
                <ul class="user-list">
                    <li ng-repeat="user in user_list | filter:query | orderBy:orderProp" class="active">
                        <a class="image">
                            <img src="images/avatar.png" class="online"/> <span>{{user.name}}</span>
                        </a>
                        <div class="tools">
                            <i class="fa fa-edit"></i>
                            <i class="fa fa-trash-o"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </tab>
        <tab heading="file">
            <tab-heading>
                <i class="fa fa-folder">文件</i>
            </tab-heading>
            <div class="tab-pane fade in active">
                <ul class="sidebar-menu">
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-angle-right"></i>
                            <span>个人文件</span>
                            <small class="badge pull-right bg-green">new</small>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/charts/morris.html"><i class="fa fa-angle-double-right"></i> Morris</a></li>
                            <li><a href="pages/charts/flot.html"><i class="fa fa-angle-double-right"></i> Flot</a></li>
                            <li><a href="pages/charts/inline.html"><i class="fa fa-angle-double-right"></i> Inline charts</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-angle-right"></i>
                            <span>群组文件</span>
                            <small class="badge pull-right bg-green">new</small>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/UI/general.html"><i class="fa fa-angle-double-right"></i> General</a></li>
                            <li><a href="pages/UI/icons.html"><i class="fa fa-angle-double-right"></i> Icons</a></li>
                            <li><a href="pages/UI/buttons.html"><i class="fa fa-angle-double-right"></i> Buttons</a></li>
                            <li><a href="pages/UI/sliders.html"><i class="fa fa-angle-double-right"></i> Sliders</a></li>
                            <li><a href="pages/UI/timeline.html"><i class="fa fa-angle-double-right"></i> Timeline</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-angle-right"></i>
                            <span>文件标签</span>
                            <small class="badge pull-right bg-green">new</small>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/forms/general.html"><i class="fa fa-angle-double-right"></i> General Elements</a></li>
                            <li><a href="pages/forms/advanced.html"><i class="fa fa-angle-double-right"></i> Advanced Elements</a></li>
                            <li><a href="pages/forms/editors.html"><i class="fa fa-angle-double-right"></i> Editors</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </tab>
    </tabset>
    <hr>
</section>